/.DS_Store
/.classpath
/.mvn
/.project
/.settings
/.vscode
/HELP.md
/mvnw
/mvnw.cmd
/target
src/front-end/node_modules/.DS_Store
src/front-end/node_modules/@angular/.DS_Store
src/front-end/node_modules/@angular-devkit/.DS_Store
src/front-end/node_modules/@babel/.DS_Store
src/front-end/node_modules/@istanbuljs/.DS_Store
src/front-end/node_modules/@jridgewell/.DS_Store
src/front-end/node_modules/@nodelib/.DS_Store
src/front-end/node_modules/@npmcli/.DS_Store
src/front-end/node_modules/@types/.DS_Store
src/front-end/node_modules/@webassemblyjs/.DS_Store
src/front-end/node_modules/@xtuc/.DS_Store
src/front-end/node_modules/acorn/.DS_Store
src/front-end/node_modules/acorn-import-assertions/.DS_Store
src/front-end/node_modules/acorn-node/.DS_Store
src/front-end/node_modules/adjust-sourcemap-loader/.DS_Store
src/front-end/node_modules/agent-base/.DS_Store
src/front-end/node_modules/agentkeepalive/.DS_Store
src/front-end/node_modules/ajv/.DS_Store
src/front-end/node_modules/ajv-formats/.DS_Store
src/front-end/node_modules/ajv-keywords/.DS_Store
src/front-end/node_modules/autoprefixer/.DS_Store
src/front-end/node_modules/babel-plugin-polyfill-corejs2/.DS_Store
src/front-end/node_modules/babel-plugin-polyfill-corejs3/.DS_Store
src/front-end/node_modules/babel-plugin-polyfill-regenerator/.DS_Store
src/front-end/node_modules/body-parser/.DS_Store
src/front-end/node_modules/bonjour-service/.DS_Store
src/front-end/node_modules/cacache/.DS_Store
src/front-end/node_modules/call-bind/.DS_Store
src/front-end/node_modules/caniuse-lite/.DS_Store
src/front-end/node_modules/chokidar/.DS_Store
src/front-end/node_modules/commondir/.DS_Store
src/front-end/node_modules/concat-map/.DS_Store
src/front-end/node_modules/copy-webpack-plugin/.DS_Store
src/front-end/node_modules/critters/.DS_Store
src/front-end/node_modules/cross-spawn/.DS_Store
src/front-end/node_modules/cssesc/.DS_Store
src/front-end/node_modules/defined/.DS_Store
src/front-end/node_modules/dependency-graph/.DS_Store
src/front-end/node_modules/detective/.DS_Store
src/front-end/node_modules/encoding/.DS_Store
src/front-end/node_modules/ent/.DS_Store
src/front-end/node_modules/es-module-lexer/.DS_Store
src/front-end/node_modules/esbuild/.DS_Store
src/front-end/node_modules/esbuild-wasm/.DS_Store
src/front-end/node_modules/escalade/.DS_Store
src/front-end/node_modules/esprima/.DS_Store
src/front-end/node_modules/eventemitter-asyncresource/.DS_Store
src/front-end/node_modules/events/.DS_Store
src/front-end/node_modules/express/.DS_Store
src/front-end/node_modules/fast-json-stable-stringify/.DS_Store
src/front-end/node_modules/fastq/.DS_Store
src/front-end/node_modules/flatted/.DS_Store
src/front-end/node_modules/fs-monkey/.DS_Store
src/front-end/node_modules/get-intrinsic/.DS_Store
src/front-end/node_modules/handle-thing/.DS_Store
src/front-end/node_modules/has/.DS_Store
src/front-end/node_modules/has-symbols/.DS_Store
src/front-end/node_modules/hosted-git-info/.DS_Store
src/front-end/node_modules/hpack.js/.DS_Store
src/front-end/node_modules/html-escaper/.DS_Store
src/front-end/node_modules/http-deceiver/.DS_Store
src/front-end/node_modules/iconv-lite/.DS_Store
src/front-end/node_modules/image-size/.DS_Store
src/front-end/node_modules/inquirer/.DS_Store
src/front-end/node_modules/is-what/.DS_Store
src/front-end/node_modules/istanbul-lib-instrument/.DS_Store
src/front-end/node_modules/istanbul-lib-report/.DS_Store
src/front-end/node_modules/istanbul-lib-source-maps/.DS_Store
src/front-end/node_modules/jasmine-core/.DS_Store
src/front-end/node_modules/jest-worker/.DS_Store
src/front-end/node_modules/js-yaml/.DS_Store
src/front-end/node_modules/jsesc/.DS_Store
src/front-end/node_modules/json-schema-traverse/.DS_Store
src/front-end/node_modules/json5/.DS_Store
src/front-end/node_modules/jsonparse/.DS_Store
src/front-end/node_modules/karma/.DS_Store
src/front-end/node_modules/karma-chrome-launcher/.DS_Store
src/front-end/node_modules/karma-coverage/.DS_Store
src/front-end/node_modules/klona/.DS_Store
src/front-end/node_modules/less/.DS_Store
src/front-end/node_modules/log4js/.DS_Store
src/front-end/node_modules/make-fetch-happen/.DS_Store
src/front-end/node_modules/mini-css-extract-plugin/.DS_Store
src/front-end/node_modules/minimist/.DS_Store
src/front-end/node_modules/nanoid/.DS_Store
src/front-end/node_modules/needle/.DS_Store
src/front-end/node_modules/nice-napi/.DS_Store
src/front-end/node_modules/node-forge/.DS_Store
src/front-end/node_modules/node-gyp/.DS_Store
src/front-end/node_modules/nopt/.DS_Store
src/front-end/node_modules/normalize-package-data/.DS_Store
src/front-end/node_modules/npm-pick-manifest/.DS_Store
src/front-end/node_modules/npm-registry-fetch/.DS_Store
src/front-end/node_modules/object-inspect/.DS_Store
src/front-end/node_modules/pacote/.DS_Store
src/front-end/node_modules/pako/.DS_Store
src/front-end/node_modules/piscina/.DS_Store
src/front-end/node_modules/qjobs/.DS_Store
src/front-end/node_modules/qs/.DS_Store
src/front-end/node_modules/read-package-json/.DS_Store
src/front-end/node_modules/read-package-json-fast/.DS_Store
src/front-end/node_modules/regenerate-unicode-properties/.DS_Store
src/front-end/node_modules/regenerator-transform/.DS_Store
src/front-end/node_modules/regjsparser/.DS_Store
src/front-end/node_modules/resolve/.DS_Store
src/front-end/node_modules/resolve-url-loader/.DS_Store
src/front-end/node_modules/retry/.DS_Store
src/front-end/node_modules/rfdc/.DS_Store
src/front-end/node_modules/rxjs/.DS_Store
src/front-end/node_modules/schema-utils/.DS_Store
src/front-end/node_modules/select-hose/.DS_Store
src/front-end/node_modules/semver/.DS_Store
src/front-end/node_modules/serve-index/.DS_Store
src/front-end/node_modules/side-channel/.DS_Store
src/front-end/node_modules/smart-buffer/.DS_Store
src/front-end/node_modules/socket.io/.DS_Store
src/front-end/node_modules/socks/.DS_Store
src/front-end/node_modules/source-map/.DS_Store
src/front-end/node_modules/source-map-loader/.DS_Store
src/front-end/node_modules/spdy/.DS_Store
src/front-end/node_modules/sprintf-js/.DS_Store
src/front-end/node_modules/ssri/.DS_Store
src/front-end/node_modules/supports-preserve-symlinks-flag/.DS_Store
src/front-end/node_modules/symbol-observable/.DS_Store
src/front-end/node_modules/tailwindcss/.DS_Store
src/front-end/node_modules/tar/.DS_Store
src/front-end/node_modules/terser/.DS_Store
src/front-end/node_modules/terser-webpack-plugin/.DS_Store
src/front-end/node_modules/text-table/.DS_Store
src/front-end/node_modules/type-fest/.DS_Store
src/front-end/node_modules/typed-assert/.DS_Store
src/front-end/node_modules/typescript/.DS_Store
src/front-end/node_modules/ua-parser-js/.DS_Store
src/front-end/node_modules/wcwidth/.DS_Store
src/front-end/node_modules/webpack/.DS_Store
src/front-end/node_modules/webpack-dev-middleware/.DS_Store
src/front-end/node_modules/webpack-dev-server/.DS_Store
src/front-end/node_modules/wildcard/.DS_Store
src/front-end/node_modules/yaml/.DS_Store
src/front-end/node_modules/yargs/.DS_Store
src/front-end/node_modules/zone.js/.DS_Store
src/front-end/.angular/**
src/front-end/node_modules/**
src/front-end/.DS_Store
src/front-end/.DS_Store
